{% extends "main/base.html" %}
{% load static%}
{% block content %}
{% include "main/header.html" %}
<div class="container mt-5">
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      Пароль или логин не верные, повторите попытку.
    </div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-warning" role="alert">
        У вас нет доступа к этой странице, войдите в аккаунт чтобы продолжить.
      </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        Вход.
      </div>
    {% endif %}
  {% endif %}
  <style>

  </style>
  <div class="card mx-auto" style="min-height:500px;max-width:800px;">
    <div class="card-body">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1>Добро пожаловать, входи!</h1>
        <div class="row">
          <div class="col d-flex flex-column align-items-center justify-content-center mt-5" >
            <img src="{% static 'img/smile_agitator_chb.png' %}" alt="Описание изображения" class="img-fluid" style="max-width:250px">
          </div>
          <div class="col d-flex flex-column align-items-center justify-content-center mt-5">
            <div class="mb-3" style="max-width:200px">
              <label for="id_username" class="form-label">{{ form.username.label_tag }}</label>
              {{ form.username }}
            </div>
            <div class="mb-5" style="max-width:200px">
              <label for="id_password" class="form-label">{{ form.password.label_tag }}</label>
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
             <input type="hidden" name="next" value="{{ next }}">
          </div>
<!--          <div class="col-1"></div>-->
        </div>
      </form>
    </div>
  </div>
  <p class="mt-1" style="text-align:center;">У нас впервые? <a href="{% url 'register' %}">Зарегистрируйся</a></p>
  <p class="mt-1" style="text-align:center;"><a href="{% url 'password_reset' %}">Забыл пароль?</a></p>
</div>
{% endblock %}

