{% extends "main/base.html" %}

{% block content %}
{% include "main/header.html" %}
<style>

</style>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Введите почту для отправки подтвеждения сброса пароля</h3>
          <form action="" method="post" class="d-flex justify-content-center align-items-center">
            {% csrf_token %}
            {% if form.email.errors %}
              <div class="alert alert-danger">
                {{ form.email.errors }}
              </div>
            {% endif %}
            <div class="form-group">
              {{ form.email }}
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-primary btn-lg" value="Отправить">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
