{% extends "main/base.html" %}

{% block content %}
{% include "main/header.html" %}
<div class="container mt-5">
    {% if validlink %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Изменить пароль</h5>
                        <p>Пожалуйста сбросьте или подтвердите пароль</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_new_password1" class="form-label">Новый пароль:</label>
                                {{ form.new_password1 }}
                                <div class="text-danger">{{ form.new_password1.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password2" class="form-label">Подтверждение пароля:</label>
                                {{ form.new_password2 }}
                                <div class="text-danger">{{ form.new_password2.errors }}</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Изменить мой пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Password reset failed</h4>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
