:root {
  --select-border-l: #777;
  --select-focus-l: blue;
  --select-arrow-l: var(--select-border-l);
}
.select-local-action {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border-l);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  margin-top: 30px;
  margin-bottom: 30px;
}
.it-is-my-book-send{
  background: rgba(50,255,74,0.32);
  opacity: 0.5;
}