{% extends "main/base.html" %}
{% load static %}
{% csrf_token %}

{% block content %}

{% include "main/header.html" %}


<div class="mainTrading container">
    <form method="post" style="align-items: center;">
        {% csrf_token %}
        {% if imMaster%}

        {% if not action.statususerone == '2' %}
        <label for="statususerone">
            <h1>Статус вашей книги</h1>
            <select id="statususerone" name="statususerone" class="select-local-action">
                <option value="0">Пока не отправил книгу {{ trade.bookone.name }}</option>
                <option value="1"
                        {% if action.statususerone == '1' %}
                selected
                {% endif %}
                >Отправил</option>
            </select>
        </label>
        {% else %}
        <p>Получатель успешно получил свою книгу</p>
        {% endif %}

        {% if action.statususertwo == '1' %}
        <label for="statususertwo"><h2>Статус доставки книги {{ trade.booktwo.name }} на которую вы менялись</h2></label>
            <select id="statususertwo" name="statususertwo" class="select-local-action" style="margin-right: auto; margin-left: auto">
                <option value="1">Не пришло</option>
                <option value="2">Пришло</option>
            </select>
        {% endif%}

        {% else %}

        {% if not action.statususertwo == '2' %}
        <label for="statususertwo">
            <h1>Статус вашей книги</h1>

            <select id="statususertwo" name="statususertwo" class="select-local-action">
                <option value="0">Пока не отправил книгу {{ trade.booktwo.name }}</option>
                <option value="1"
                        {% if action.statususertwo == '1' %}
                selected
                {% endif %}
                >Отправил</option>
            </select>
        </label>
        {% else %}
        <p>Получатель успешно получил свою книгу</p>
        {% endif %}

            {% if action.statususerone == '1' %}
                <label for="statususerone"><h2>Статус доставки книги {{ trade.bookone.name }} на которую вы менялись</h2></label>
                <select id="statususerone" name="statususerone" class="select-local-action" style="margin-right: auto; margin-left: auto">
                    <option value="1">Не пришло</option>
                    <option value="2">Пришло</option>
                </select>
            {% endif%}

        {% endif %}
        {% if trade.status != 3%}
        <button type="submit" class="btn btn-success" style="width: fit-content; margin-left: auto; margin-right: auto">Отправить</button>
        {% endif %}
    </form>
</div>

<div class="container">
    <div class="card-group" style="padding-top: 20px">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 trade-local-container g-4 justify-content-center ">
            <div class="card card-trade-property
            {% if not action.statususerone == '2' %}
            it-is-my-book
            {% else %}
            it-is-my-book-send
            {% endif %}
    " style="width: 18rem;">
                <b>Книга</b>
                {% if imMaster%}
                <b>Моя книга</b>
                {% else %}
                <b>Обмениваемая книга</b>
                {% endif %}
                <img class="card-img-top" src="/media/{{ trade.bookone.idcover.img }}">
                <div class="card-body">
                    <label class="mb-0 ">
                        <p>Название книги: <span >{{trade.bookone.name}}</span></p>
                        <p>Автор: <span >{{trade.bookone.idwriter}}</span></p>
                    </label>
                </div>
                <ul class="list-group list-group-flush">
                    <label>
                        Адрес
                    </label>
                    <input class="list-group-item" value="{{ trade.addressbookowner }}" disabled>
                </ul>
            </div>

            <div class="card card-trade-property

            {% if not action.statususertwo == '2' %}
                it-is-my-book
            {% else %}
                it-is-my-book-send
            {% endif %}
    " style="width: 18rem;">
                <b>Книга</b>
                {% if not imMaster%}
                <b>Моя книга</b>
                {% else %}
                <b>Обмениваемая книга</b>
                {% endif %}
                <img class="card-img-top" src="/media/{{ trade.booktwo.idcover.img }}">
                <div class="card-body">
                    <label class="mb-0 ">
                        <p>Название книги: <span >{{trade.booktwo.name}}</span></p>
                        <p>Автор: <span >{{trade.booktwo.idwriter}}</span></p>
                    </label>
                </div>
                <ul class="list-group list-group-flush">
                    <label>
                        Адрес
                    </label>
                    <input class="list-group-item" value="{{ trade.addressrequester }}" disabled>
                </ul>
            </div>
        </div>
    </div>
    <div class="row trade-local-container g-4 justify-content-center">
                    <div class="col">
                        <div style="width: 100%">
                            <iframe width="100%" height="400"
                                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=
                        {% if trade %}
                                    {{ trade.addressbookowner }}
                        {% else %}
                                    {{order.booktorequest.idAuthorUser.address}}
                        {% endif %}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                            </iframe>
                        </div>
                    </div>
                    <div class="col">
                        <div style="width: 100%">
                            <iframe width="100%" height="400"
                                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=
                        {% if trade %}
                                    {{trade.addressrequester}}
                        {% else %}
                                    {{ user.address }}
                        {% endif %}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                            </iframe>
                        </div>
                    </div>
                </div>
</div>
{% include "main/footer.html" %}


{% endblock content %}