<div class="container-fluid footer">
    <div class="row">
        <div class="col_1 col">
            <h1 class="row">Trade Books</h1>
            <p class="row"> Книги, которые вы полюбите</p>
            <button class="row">Зарегистрироваться</button>
            <a href="#vk" class="row"><img src=""></a>
        </div>
        <div class="col_2 col">
            <h1 class="row">Подборки</h1>
            <a class="row">Популярные новинки детской литературы</a>
            <a class="row">День спасателя</a>
            <a class="row">Лучшие книги осени 2024</a>
        </div>
        <div class="col_3 col">
            <h1 class="row">О нас</h1>
            <a class="row">F.A.Q.</a>
            <a class="row">О проекте</a>
            <a class="row">Помощь и контакты</a>
        </div>
    </div>
</div>