<footer>
    <div class="col_1">
        <h1 class="column_item">Trade Books</h1>
        <p class="column_item"> Книги, которые вы полюбите</p>
        <button class="column_item">Зарегистрироваться</button>
        <a href="#vk" class="column_item"><img src=""></a>
    </div>
    <div class="col_2">
        <h1 class="column_item">Подборки</h1>
        <a class="column_item">Популярные новинки детской литературы</a>
        <a class="column_item">День спасателя</a>
        <a class="column_item">Лучшие книги осени 2024</a>
    </div>
    <div class="col_3">
        <h1 class="column_item">О нас</h1>
        <a class="column_item">F.A.Q.</a>
        <a class="column_item">О проекте</a>
        <a class="column_item">Помощь и контакты</a>
    </div>
</footer>