<div class="container-fluid footer">
    <div class="footer-inner-block">
        <div class="row">
            <div class="col-md-4">
                <h1 class="logo-footer">Trade Books</h1>
                <p>Книги, которые вы полюбите</p>
<!--                <a href="#vk"><img src="" alt="VK"></a>-->
            </div>
            <div class="col-md-4">
                <h1>Подборки</h1>
                <a href="#" class="d-block">Популярные новинки детской литературы</a>
                <a href="#" class="d-block">День спасателя</a>
                <a href="#" class="d-block">Лучшие книги осени 2024</a>
            </div>
            <div class="col-md-4">
                <h1>О нас</h1>
                <a href="#" class="d-block">F.A.Q.</a>
                <a href="#" class="d-block">О проекте</a>
                <a href="#" class="d-block">Помощь и контакты</a>
            </div>
        </div>
    </div>
</div>
