<header>
    <h1>Trade Books</h1>
    <div class="input_and_nav">
        <form method="get" action=""> <!--поле ввода поиска--> 
            <input type="search" class="search" placeholder="Поиск по сайту">
        </form>
        <nav>
            <ul>
                <li><a href="">Главная</a></li>
                <li><a href="">Начать обмен</a></li>
                <li><a href="">Мои обмены</a></li>
                <li><a href="">Задать вопрос</a></li>
            </ul>
        </nav>
    </div>
    <div class="two_buttons">
            <button class="registration">Регистрация</button>
        <button class="authorisation">Вход</button>
    </div>
</header>