<div class="header">
    <div class="row" style="margin-left: auto; width: 50%;">
        <div class="col">Официальный магазин</div>
        <div class="col">Доставка</div>
        <div class="col">Москва</div>
        <div class="col">8 (800) 000-00-00</div>
    </div>
    <div class="container-sm">
        <div class="row">
            <a href="#default" class="logo">CompanyLogo</a>
        </div>
        <div class="row">
            <div class="topnav">
                <a class="active" href="/">На главную</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>

                {% if user.is_authenticated %}
                <a>{{ user.get_username }}</a>

                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Выйти" class="header-input">
                </form>
                {% else %}

                <a href="/accounts/login/">Логин</a>
                {% endif %}

                <input type="text" placeholder="Search..">
            </div>
        </div>
    </div>
</div>