{% extends "main/base.html" %}
{% load static %}
{% csrf_token %}

{% block content %}

<body>
{% include "main/header.html" %}
<main>
    <div class="hello">
        <h2>Добро пожаловать в Trade Books.</h2>
        <p>Здесь каждый читатель 
            находит свою книгу.</p>
        <div class="two_but">
            <button class="auth">Войти</button>
            <button class="reg">Зарегистрироваться</button>
        </div>
    </div>
    <div class="cards-wrapper">
        <div class="carousel-control-prev">1</div>
        <div class="carousel-control-next">2</div>
        <div class="card">
          <img src="static/img/book11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
          </div>
        </div>
        <div class="card">
          <img src="static/img/book11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
          </div>
        </div>
        <div class="card">
          <img src="static/img/book11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
          </div>
        </div>
        <div class="card">
          <img src="static/img/book11.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example </p>
          </div>
        </div>
        <div class="card">
            <img src="static/img/book11.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/book11.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example </p>
            </div>
          </div>
          <div class="card">
            <img src="static/img/book11.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example </p>
            </div>
          </div>
      </div>
</main>
{% include "main/footer.html" %}


</body>

{% endblock content %}
